extends layout

block content
  a(href="/") < Hjem
  h1= title
  p Welcome to the basic API information page, here you can find the methods available for use. Uses JSON.
  h2 HTTP Methods:
  #userList
    table
      thead
          tr
              th HTTP Method
              th URI
              th Description
      tbody
          tr
              td GET
              td /api/ansatt[ID]
              td Get list of all workers. the optional ID will display the selected user.
          tr
              td GET
              td /api/prosjekt/[ID]
              td Get list of all projects, the optional ID will display the selected project.
    h1 User configuration:
    p (Soon to be) automated generation of the configuration located in conf/config.js
    p Here you will find configuration settings like DB connection.
    h3 /conf/config.js
    pre #{config}
