extends layout

block content
  a(href="/") < Hjem
  h1= title
  p Welcome to the basic API information page, here you can find the methods available for use. Uses JSON.
  h2 HTTP Methods:
  #userList
    table
      thead
          tr
              th HTTP Method
              th URI
              th Description
      tbody
          tr
              td GET
              td /api/ansatt
              td Get list of all employees.
          tr
              td GET
              td /api/kunder
              td Get list of all clients.
          tr
              td GET
              td /api/oppdrag
              td Get list of all projects that the employees are working on.
          tr
              td GET
              td /api/prosjekt
              td Get list of all projects.
          tr
              td GET
              td /api/timer
              td Get punchcard system
    h3 Filtering queries:
    p It is possible to filter all these results with a standard query. Any of the returned keys can be used to filter.
    p For example http://localhost:3000/api/ansatt?ansattnr=1000&etternavn=Greg
    h1 User configuration:
    p (Soon to be) automated generation of the configuration located in conf/config.js
    p Here you will find configuration settings like DB connection.
    h3 /conf/config.js
    pre #{config}
