extends layout

block content
  h1= title
  b Laget av Mathias Hedberg
  p Velkommen to #{title}. Dette er et system for håndtering av brukere, prosjekter, kunder, timeregistrering og mye mere
  a(href="/api") API info
