extends layout

block content
  h1= title
  b Laget av Mathias Hedberg
  p Velkommen to #{title}. Dette er et system for håndtering av brukere, prosjekter, kunder, timeregistrering og mye mere
  a(href="/api") Se på API info
  h3 Android App
  p Planen videre etter denne er klar, er å lage en android app som kobler til dette grensesnittet. Dette vil være ganske enkelt når APIen er klar, da vil vanlige REST spørringer med JSON fungere fint. 
